<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RuralE-Health</display-name>
  <welcome-file-list>
    <welcome-file>admin_login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddArogyaVibhagServlet</display-name>
    <servlet-name>AddArogyaVibhagServlet</servlet-name>
    <servlet-class>AddArogyaVibhagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArogyaVibhagServlet</servlet-name>
    <url-pattern>/AddArogyaVibhagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteArogyaVibhagServlet</display-name>
    <servlet-name>DeleteArogyaVibhagServlet</servlet-name>
    <servlet-class>DeleteArogyaVibhagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteArogyaVibhagServlet</servlet-name>
    <url-pattern>/DeleteArogyaVibhagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpecialistDoctorServlet</display-name>
    <servlet-name>AddSpecialistDoctorServlet</servlet-name>
    <servlet-class>AddSpecialistDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpecialistDoctorServlet</servlet-name>
    <url-pattern>/AddSpecialistDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSpecialistDoctorServlet</display-name>
    <servlet-name>DeleteSpecialistDoctorServlet</servlet-name>
    <servlet-class>DeleteSpecialistDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSpecialistDoctorServlet</servlet-name>
    <url-pattern>/DeleteSpecialistDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArogyaVibhagLoginServlet</display-name>
    <servlet-name>ArogyaVibhagLoginServlet</servlet-name>
    <servlet-class>ArogyaVibhagLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArogyaVibhagLoginServlet</servlet-name>
    <url-pattern>/ArogyaVibhagLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatientCase</display-name>
    <servlet-name>AddPatientCase</servlet-name>
    <servlet-class>AddPatientCase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientCase</servlet-name>
    <url-pattern>/AddPatientCase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatientCaseServlet</display-name>
    <servlet-name>AddPatientCaseServlet</servlet-name>
    <servlet-class>AddPatientCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientCaseServlet</servlet-name>
    <url-pattern>/AddPatientCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatientCommentServlet</display-name>
    <servlet-name>AddPatientCommentServlet</servlet-name>
    <servlet-class>AddPatientCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientCommentServlet</servlet-name>
    <url-pattern>/AddPatientCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctorCommentServlet</display-name>
    <servlet-name>AddDoctorCommentServlet</servlet-name>
    <servlet-class>AddDoctorCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctorCommentServlet</servlet-name>
    <url-pattern>/AddDoctorCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPatientPrescriptionServlet</display-name>
    <servlet-name>AddPatientPrescriptionServlet</servlet-name>
    <servlet-class>AddPatientPrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPatientPrescriptionServlet</servlet-name>
    <url-pattern>/AddPatientPrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SpecialistDoctorLoginServlet</display-name>
    <servlet-name>SpecialistDoctorLoginServlet</servlet-name>
    <servlet-class>SpecialistDoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpecialistDoctorLoginServlet</servlet-name>
    <url-pattern>/SpecialistDoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploadDBServlet</display-name>
    <servlet-name>ImageUploadDBServlet</servlet-name>
    <servlet-class>com.imageupload.ImageUploadDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploadDBServlet</servlet-name>
    <url-pattern>/ImageUploadDBServlet</url-pattern>
  </servlet-mapping>
</web-app>